<div class="workspace-panel workspace-panel-fixed">
  <div class="app-wrapper" ng-show="requesting">
    <div class="app text-center">
        <div class="app-icon"><i class="fa fa-circle-o-notch fa-spin fa-3x"></i></div>
        <div class="app-title">Loading...</div>
        <div class="app-version">&nbsp;</div>
    </div>
  </div>
  <uib-tabset ng-show="!requesting" active="activeTabIndex">
    <uib-tab ng-repeat="tab in tabs">
      <uib-tab-heading>
        <span>{{tab.title}}</span>
      </uib-tab-heading>
      <div ng-show="!tab.edit">
        <div ng-repeat="(listName, list) in tab.content.lists" >
          <div class="row top-buffer">
            <div ng-repeat="item in list" ng-click="getAppMetadata(item)">
              <div ng-class="'col-md-4 text-center'">
                <div class="thumbnail">
                  <div class="text-center">
                    <i class="fa fa-cube fa-3x"></i>
                  </div>
                  <div class="text-center">
                    <h3>{{item.label}}</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-show="tab.edit" class="dnd-list">
        <div ng-include="config.tplPath + '/edit.html'"></div>
      </div>
      <div class="text-center top-buffer">
        <button ng-show="tab.title !== 'public' && tab.title !== 'private' && !tab.edit" class="btn btn-success" ng-click="editTab(tab); tab.edit = !tab.edit">Edit</button>
      </div>
    </uib-tab>
    <button class="btn btn-default" ng-click="addTab()" ><i class="fa fa-plus"></i></button>
  </uib-tabset>
</div>

<div ng-show="workspaceInput">
  <pre>
      <h4 class="text-center">Running Job</h4>
      {{workspaceInput | json}}
  </pre>
</div>
